<!doctype html>
<html lang="en">

<head>

	<title>Quack B3 viewer</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
		integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />


	<meta name="description" content="The HTML5 Herald">
	<meta name="author" content="AdrianoDSQ">

	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

	<!-- CHARTS  -->
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

	<!-- ANGULAR -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.11/angular-resource.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.11/angular.min.js"></script>

	<!-- QUAST APP -->
	<script src="js/app.js"></script>
	<script src="js/service.js"></script>
	<script src="js/controller.js"></script>
</head>
<body ng-app="app" ng-controller="AppCtrl as Ctrl">
    <nav class="navbar justify-content-between navbar navbar-dark bg-dark">
		<a class="navbar-brand qst-navbar-color"><i class="fas fa-chart-line"></i> POS - Table-load Viewer</a>
		<form class="form-inline">
            <div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1">Merchant</span>
				</div>
				<input type="text" ng-model="Ctrl.merchantName" type="search" class="form-control" placeholder="Merchant"
					aria-label="Merchant" aria-describedby="basic-addon1">
				<button class="btn btn-info" ng-keydown="$event.keyCode === 32 && Ctrl.fetchDataAndRefreshCharts()"
					ng-click="Ctrl.fetchDataAndRefreshCharts()" type="submit">Buscar terminais</button>
			</div>
		</form>
        <form class="form-inline">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Terminal</span>
            </div>
            <input type="text" ng-model="Ctrl.currentTicker" type="search" class="form-control" placeholder="Terminal"
                aria-label="Terminal" aria-describedby="basic-addon1">
            <button class="btn btn-info" ng-keydown="$event.keyCode === 32 && Ctrl.fetchDataAndRefreshCharts()"
                ng-click="Ctrl.fetchDataAndRefreshCharts()" type="submit">Buscar</button>
        </div>
    </form>
	</nav>
    <div class="container-fluid ">
        <div class="main">

        </div>
    </div>
</body>